/Airline/nbproject/private/
/Airline/build/
/AirlineClientTests/nbproject/private/
/AirlineClientTests/build/
/TravelGoodREST/nbproject/private/
/TravelGoodREST/build/
/TravelGoodREST/dist/
/Airline/dist/
/TravelGoodRESTClient/nbproject/private/
/TravelGoodRESTClient/build/
/TravelGoodBPEL/nbproject/private/
/TravelGoodBPEL/build/
/TravelGoodBPELComposite/nbproject/private/
/TravelGoodBPELComposite/src/jbiServiceUnits/
/TravelGoodBPELComposite/build/
/TravelGoodBPELComposite/dist/